@keyframes rotate {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

body {
  padding: 0;
  margin: 0;
  background: #233142;
  font-family: "Montserrat", sans-serif; }

*,
*:focus,
*:hover {
  outline: none; }

.sac {
  font-family: "Sacramento", cursive; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

.container {
  max-width: 80%;
  margin: auto; }

.container2 {
  max-width: 900px;
  margin: auto; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.space {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.auth {
  width: 100%;
  height: 100vh;
  color: #bdbdbd; }
  .auth .top {
    padding: 20px 30px;
    font-size: 2rem;
    color: #e3e3e3; }
    .auth .top a {
      color: #bdbdbd;
      font-size: 1rem;
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      background: #192330;
      border-radius: 3px; }
      .auth .top a:hover {
        color: #f95959; }
  .auth .sub {
    max-width: 400px;
    margin: auto;
    margin-top: 1rem; }
  .auth h2 {
    text-align: center;
    margin-bottom: 30px; }
  .auth form input {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    border: 0;
    background: #192330;
    color: #e3e3e3;
    margin-top: 5px;
    margin-bottom: 15px; }
  .auth .active {
    border-bottom: 2px solid #f95959; }
  .auth input[type="submit"] {
    background: #f95959;
    color: #e3e3e3;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0;
    padding: 12px; }
    .auth input[type="submit"]:hover {
      background: #f84545; }

.home {
  color: #bdbdbd; }
  .home .top {
    padding: 20px 30px;
    font-size: 1.2rem;
    color: #e3e3e3; }
  .home #body {
    display: grid;
    grid-template-columns: 13% 87%;
    padding: 0px 13px; }
    .home #body .sideNav {
      display: flex;
      justify-content: center; }
      .home #body .sideNav .color-secondary {
        color: #f95959; }
      .home #body .sideNav ul {
        padding: 0;
        margin: 0; }
        .home #body .sideNav ul li {
          list-style: none;
          width: 70px;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 9px;
          border-radius: 35px;
          text-align: center;
          background: #192330;
          cursor: pointer; }
          .home #body .sideNav ul li:hover {
            animation: rotate 0.5s forwards; }

.profile .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%; }

.profile img {
  width: 100%; }

.profile h2 {
  margin-left: 13px;
  color: #bdbdbd; }

.profile .flex {
  display: flex; }

.profile .top {
  background: #192330;
  border-radius: 10px;
  padding: 15px; }

.profile .bio {
  margin-left: 13px;
  font-size: 0.9rem;
  margin-top: 5px;
  background: #141c26;
  padding: 8px;
  display: inline-block;
  border-radius: 8px; }

.profile p {
  margin: 5px 0px;
  font-size: 0.8rem;
  margin-left: 13px; }

.profile ul {
  padding: 0;
  margin: 10px 0px;
  text-align: center; }
  .profile ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    background: #192330;
    margin-left: 5px;
    cursor: pointer; }
  .profile ul .active {
    color: #f95959; }

.search .cover {
  width: 100%;
  display: flex;
  align-items: center;
  background: #192330;
  padding: 12px 20px;
  border-radius: 28px;
  box-sizing: border-box; }
  .search .cover form {
    width: 100%; }
    .search .cover form input {
      width: 100%;
      background: transparent;
      border: 0;
      padding: 0px 15px;
      font-size: 1.4rem;
      color: #bdbdbd; }
