// @media screen and (max-width: 650px) {
//   #body {
//     display: block !important;
//     .sideNav {
//       display: none !important;
//     }
//   }

//   .bottomNav {
//     display: block !important;
//   }

//   .follow {
//     height: 48vh !important;
//   }

//   .results {
//     height: 68vh !important;
//   }
// }

@media screen and (max-width: 762px) {
  .home {
    .sideNav {
      ul {
        width: 50px !important;
        li {
          .text {
            display: none;
          }
        }
      }
    }
    .main {
      padding-left: 50px !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .inline {
    max-width: 500px !important;
  }
}

@media screen and (max-width: 450px) {
  #main {
    padding-left: 0 !important;
    margin-bottom: 57px;
  }
  .sideNav {
    display: none;
  }
  .bottomNav {
    display: block !important;
  }
}
