@import "config";
@import "spinner";
@import "mobile";

*,
*:focus {
  outline: none !important;
}

body {
  padding: 0;
  margin: 0;
  background: $background;
  font-family: "Montserrat", sans-serif;
  color: $primary-text-color;
}

.container {
  width: 85%;
  margin: auto;
}

.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.inline {
  max-width: 400px;
  margin: auto;
  .card {
    padding: 10px 35px;
  }
}

.btn-primary {
  padding: 8px;
  color: $primary-text-color;
  background: $primary-color;
  border: 0;
  border-radius: 3px;
  margin: 3px 0px;
  cursor: pointer;
  &:hover {
    background: darken($primary-color, $amount: 5);
  }
}

.btn-secondary {
  padding: 8px;
  color: $primary-text-color;
  background: $secondary-color;
  border: 0;
  border-radius: 3px;
  margin: 3px 0px;
  cursor: pointer;
  &:hover {
    background: darken($secondary-color, $amount: 5);
  }
}

.btn-info {
  padding: 8px;
  color: $primary-text-color;
  background: $color-info;
  border: 0;
  border-radius: 3px;
  margin: 3px 0px;
  cursor: pointer;
  &:hover {
    background: darken($color-info, $amount: 5);
  }
}

.navBar {
  padding: 2px 0px;
  background: darken($background, $amount: 5);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;

  .container {
    width: 93%;
    margin: auto;
  }
  h1 {
    padding: 0;
    margin: 0;
    font-family: "sacramento";
    font-size: 2.2rem;
  }
  a {
    text-decoration: none;
    color: $primary-text-color;
    padding: 5px 10px;
    background: $primary-color;
    border-radius: 4px;
    &:hover {
      background: darken($primary-color, 4);
    }
  }
}

.auth {
  max-width: 500px;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  .sub {
    h2 {
      text-align: center;
    }
  }
  form {
    input {
      padding: 18px;
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 11px;
      margin-top: 5px;
      border: 0px;
      background: darken($background, $amount: 5);
      color: $primary-text-color;
    }

    input[type="submit"] {
      background: $primary-color;
      color: $primary-text-color;
      font-size: 1.1rem;
      margin-top: 12px;
      padding: 12px;
      cursor: pointer;
      &:hover {
        background: darken($primary-color, 4);
      }
    }

    label {
      color: $secondary-text-color;
    }
  }
  .error,
  .alert {
    text-align: center;
    background: rgb(212, 35, 35);
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .error {
    font-size: 0.9rem;
  }
  .alert {
    display: none;
    animation-duration: 3s;
  }
}

.home {
  position: relative;
  .overlay {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 2;
    position: fixed;
  }

  .notify {
    position: absolute;
    top: 60px;
    right: 5px;
    padding: 8px;
    z-index: 2;
    background: darken($background, 4);
    border-radius: 3px;
    opacity: 1;
    animation: notify 10s ease-in-out forwards;
  }

  .alert {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
      margin: 5px 0px;
    }
    .confirm {
      padding: 15px 25px;
      background: darken($background, $amount: 4);
      border-radius: 5px;
      box-sizing: border-box;
      button {
        margin: 0px 3px;
      }
    }
    .viewProfile {
      position: relative;
      padding: 15px 25px;
      background: darken($background, $amount: 4);
      border-radius: 5px;
      box-sizing: border-box;
      max-width: 500px;
      margin: 0px 6px;
      p {
        margin-top: 0px;
      }
      .head {
        font-size: 1.3rem;
      }
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }

      .close {
        position: absolute;
        top: 9px;
        right: 9px;
        cursor: pointer;
      }
    }
  }
  .sideNav {
    ul {
      padding: 0;
      margin: 0;
      position: fixed;
      height: 100vh;
      overflow: hidden;
      background: darken($background, $amount: 4);
      padding-top: 70px;
      width: 200px;
      li {
        list-style: none;
        font-size: 1.2rem;
        padding: 18px 15px;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
          background: darken($background, $amount: 5.5);
        }
        i {
          margin-right: 10px;
          position: relative;

          .bg {
            color: $secondary-color;
            background: #fff;
          }
        }
      }
    }
    .active {
      color: $primary-color;
      background: darken($background, $amount: 7);
    }
  }

  .bottomNav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 1;
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      text-align: center;
      background: darken($background, $amount: 5);
      li {
        list-style: none;
        display: inline-block;
        padding: 15px 10px;
        flex-basis: 33.3%;
      }
      .active {
        color: $primary-color;
        background: darken($background, $amount: 7);
      }
    }
  }
  .main {
    padding-top: 55px;
    padding-left: 200px;
  }
}

.profile {
  padding: 0px 10px;
  margin-bottom: 10px;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }
  .image {
    text-align: center;
    position: relative;
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: -123px;
    }
  }

  ul.nav {
    text-align: center;
    margin-bottom: 8px;
    .active {
      color: $primary-color;
    }
    li {
      display: inline-block;
      padding: 15px;
      margin-left: 5px;
      border-radius: 5px;
      background: darken($background, $amount: 6);
      cursor: pointer;
    }
  }
  .cover {
    width: 100%;
    .details {
      margin: auto;
      max-width: 500px;
      margin-top: 140px;
      box-sizing: border-box;
      top: -30px;
      left: 0;
      // display: flex;
      background: darken($background, $amount: 6);
      padding: 30px;
      padding-bottom: 23px;
      border-radius: 8px;
      z-index: -1;
      margin-bottom: 9px;
      h2 {
        margin: 10px 0px;
      }
      .first {
        // flex-basis: 50%;
        display: flex;
        // align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0px 8px;
        // border-right: 2px solid $primary-text-color;
        ul {
          li {
            padding: 3px 0px;
          }
        }
      }
      .edit {
        background: transparent;
        padding: 10px;
        color: $primary-text-color;
        border: 0;
        border-radius: 3px;
        margin-top: 8px;

        background: transparent;
        border: 1px solid $secondary-color;
        cursor: pointer;
        &:hover {
          background: $secondary-color;
        }
      }
    }
  }
}

.card {
  padding: 10px;
  text-align: center;
  background: darken($background, $amount: 6);
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  h3,
  p {
    margin: 3px 0px;
  }

  img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  &:hover {
    h3 {
      color: $primary-color;
      text-decoration: underline;
    }
  }
  .followed {
    position: absolute;
    top: 5px;
    right: 5px;
    background: darken($secondary-color, 9);
    border-radius: 3px;
    padding: 3px;
    font-size: 0.6rem;
  }
}

.search {
  box-sizing: border-box;
  padding: 0px 10px;
  margin-bottom: 10px;
  .cover {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    form {
      max-width: 600px;
      margin: auto;
      position: relative;
      input {
        box-sizing: border-box;
        width: 100%;
        padding: 17px 25px;
        border: 0;
        background: darken($background, $amount: 6);
        border-radius: 28px;
        color: $primary-text-color;
        font-size: 1.3rem;
      }
      i {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 1.6rem;
        cursor: pointer;
      }
    }
  }
  .view {
    max-width: 1000px;
    box-sizing: border-box;
    padding: 0px 7px;
    margin: auto;
  }
}

.updateProfile {
  max-width: 600px;
  margin: auto;
  padding: 15px;
  form {
    input[type="text"],
    input[type="submit"],
    textarea {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 13px;
      border: 0;
      background: darken($background, $amount: 6);
      border-radius: 4px;
      margin-bottom: 10px;
      color: $primary-text-color;
    }
    textarea {
      height: 90px;
    }
    label {
      display: inline-block;
      margin-bottom: 3px;
    }
    input[type="submit"] {
      background: $primary-color;
      color: $primary-text-color;
      cursor: pointer;
      &:hover {
        background: darken($primary-color, $amount: 4.5);
      }
    }

    .custom-file-input {
      color: transparent;
    }
    .custom-file-input::-webkit-file-upload-button {
      visibility: hidden;
    }
    .custom-file-input::before {
      content: "Upload avatar";
      color: $primary-text-color;
      display: inline-block;
      background: transparent;
      border: 1px solid #ccc;
      padding: 8px;
      outline: none;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      margin-bottom: 10px;
    }
    .custom-file-input:hover::before {
      background: darken($background, $amount: 4.5);
    }
    .custom-file-input:active {
      outline: 0;
    }
    .custom-file-input:active::before {
      background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }
  }

  .alert2 {
    width: 100%;
    padding: 10px;
    background: rgb(44, 218, 122);
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    display: none;
    animation-duration: 3s;
  }
}

.liveChat {
  width: 80%;
  margin: auto;
  .header {
    padding: 6px 9px;
    display: flex;
    align-items: center;
    background: darken($background, $amount: 7);
    margin-top: 8px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    i {
      margin-right: 5px;
      cursor: pointer;
    }
    img {
      width: 40px;
      border-radius: 25px;
    }
    .other {
      margin-left: 5px;
      em {
        font-size: 0.7rem;
        margin: 0;
      }
      h3 {
        margin: 0;
        line-height: 1rem;
      }
    }
  }
  .body::-webkit-scrollbar {
    width: 12px;
  }

  .body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: darken($background, $amount: 9);
  }
  .body {
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    background: url("../components/layout/img/bgPatterns/Wavey.svg");
    padding: 2px 0px;

    .day {
      padding: 5px;
      text-align: center;
      max-width: 160px;
      background-color: darken($background, $amount: 2);
      margin: auto;
    }

    .chat {
      margin: 8px 6px;
      display: flex;
    }

    .chat-right,
    .chat-left {
      padding: 10px 15px;
      border-radius: 6px;
      max-width: 80%;
      position: relative;
      p {
        width: 100%;
        margin: 0;
        display: inline-block;
      }
    }
    .chat-left {
      background: darken($background, $amount: 6);
      i {
        position: absolute;
        top: 2px;
        left: -5px;
        color: darken($background, $amount: 6);
      }
      .time {
        display: block;
        font-size: 0.6rem;
        margin-top: 3px;
        color: lighten($secondary-color, 3);
      }
    }
    .chat-right {
      margin-left: auto;
      background: darken($background, $amount: 4);
      i {
        position: absolute;
        top: 2px;
        right: -5px;
        color: darken($background, $amount: 4);
      }
      .time {
        font-size: 0.6rem;
        margin-top: 3px;
        color: lighten($secondary-color, 3);
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  form {
    width: 100%;
    .cover {
      width: 100%;
      display: flex;
      box-sizing: border-box;
      padding: 6px;
      background: darken($background, $amount: 8);
      input {
        box-sizing: border-box;
        flex-basis: 88%;
        background: darken($background, $amount: 5);
        border: 0;
        color: $primary-text-color;
        padding: 12px;
      }
      .sendBtn {
        flex-basis: 12%;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $primary-color;
        cursor: pointer;
        &:hover {
          background: darken($primary-color, $amount: 5);
        }
      }
    }
  }
}

.chatList {
  padding: 6px;
  box-sizing: border-box;
  max-width: 800px;
  margin: auto;

  .chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darken($background, $amount: 2);
    padding: 6px;
    margin-bottom: 5px;
    cursor: pointer;

    .first {
      display: flex;
      align-items: center;
    }

    .second {
      font-size: 0.8rem;
      color: $secondary-text-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 0.5rem;

      .unread {
        height: 18px;
        width: 18px;
        background: rgb(204, 64, 64);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 3px;
      }
    }

    &:hover {
      background-color: darken($background, $amount: 6);
      transition: 0.2s ease-in background-color;
    }
    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
    .other {
      padding-left: 8px;
      h3,
      p {
        margin: 3px 0px;
        color: $secondary-text-color;
        margin-bottom: 0px;
      }
      em {
        line-height: 0.7rem;
        font-size: 0.8rem;
      }
    }
  }
  .chats {
    padding: 3px 10px;
  }
}
