$primary: #233142;
$second-color: #455d7a;
$secondary: #f95959;
$fourth-color: #e3e3e3;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$icon-color: #000000;

@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  padding: 0;
  margin: 0;
  background: $primary;
  font-family: "Montserrat", sans-serif;
}

*,
*:focus,
*:hover {
  outline: none;
}

.sac {
  font-family: "Sacramento", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 80%;
  margin: auto;
}

.container2 {
  max-width: 900px;
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth {
  width: 100%;
  height: 100vh;
  color: $divider-color;
  .top {
    padding: 20px 30px;
    font-size: 2rem;
    color: $fourth-color;

    a {
      color: $divider-color;
      font-size: 1rem;
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      background: darken($primary, 5.5);
      border-radius: 3px;

      &:hover {
        color: $secondary;
      }
    }
  }

  .sub {
    max-width: 400px;
    margin: auto;
    margin-top: 1rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  form {
    input {
      width: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 15px;
      border: 0;
      background: darken($primary, 5.5);
      color: $fourth-color;
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }

  .active {
    border-bottom: 2px solid $secondary;
  }

  input[type="submit"] {
    background: $secondary;
    color: $fourth-color;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0;
    padding: 12px;

    &:hover {
      background: darken($secondary, 4);
    }
  }
}

.home {
  color: $divider-color;
  .top {
    padding: 20px 30px;
    font-size: 1.2rem;
    color: $fourth-color;
  }

  #body {
    display: grid;
    grid-template-columns: 13% 87%;
    padding: 0px 13px;

    .sideNav {
      display: flex;
      justify-content: center;
      .color-secondary {
        color: $secondary;
      }
      ul {
        padding: 0;
        margin: 0;

        li {
          list-style: none;
          width: 70px;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 9px;
          border-radius: 35px;
          text-align: center;
          background: darken($primary, 5.5);
          cursor: pointer;
          &:hover {
            animation: rotate 0.5s forwards;
          }
        }
      }
    }
  }
}

.profile {
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  img {
    width: 100%;
  }
  h2 {
    margin-left: 13px;
    color: $divider-color;
  }
  .flex {
    display: flex;
  }
  .top {
    background: darken($primary, 5.5);
    border-radius: 10px;
    padding: 15px;
  }
  .bio {
    margin-left: 13px;
    font-size: 0.9rem;
    margin-top: 5px;
    background: darken($primary, 8.5);
    padding: 8px;
    display: inline-block;
    border-radius: 8px;
  }
  p {
    margin: 5px 0px;
    font-size: 0.8rem;
    margin-left: 13px;
  }

  ul {
    padding: 0;
    margin: 10px 0px;
    text-align: center;
    li {
      list-style: none;
      display: inline-block;
      padding: 10px 15px;
      border-radius: 20px;
      background: darken($primary, 5.5);
      margin-left: 5px;
      cursor: pointer;
    }
    .active {
      color: $secondary;
    }
  }
}

.user {
}

.search {
  .cover {
    width: 100%;
    display: flex;
    align-items: center;
    background: darken($primary, 5.5);
    padding: 12px 20px;
    border-radius: 28px;
    box-sizing: border-box;

    form {
      width: 100%;
      input {
        width: 100%;
        background: transparent;
        border: 0;
        padding: 0px 15px;
        font-size: 1.4rem;
        color: $divider-color;
      }
    }
  }
}
